<main class="flex justify-center flex-col items-center w-full gap-8">
    <fieldset class="flex flex-col lg:flex-row items-center lg:items-end gap-4 w-[90%] lg:w-[80%] border rounded-lg border-emerald-300 p-4">
        <legend class="text-lg font-bold">{{ mode }} Produto</legend>
        <form [formGroup]="form" class="flex flex-col gap-4 w-full">
            <div class="flex flex-row gap-2 flex-1">
                <div class="flex flex-col gap-2 flex-1">
                    <label for="descricao">Descrição</label>
                    <input pInputText id="descricao" formControlName="descricao" />
                </div>
                <div class="flex flex-col gap-2 flex-2">
                    <label for="situacao">Situação</label>
                    <p-select
                        formControlName="situacao"
                        [options]="options"
                        optionLabel="label"
                        placeholder="Selecione uma situação"
                        class="w-full"
                    />
                </div>
            </div>
            <div class="flex flex-row gap-2 w-full">
                @if(produto?.id){
                <p-button label="Editar" [fluid]="true" [raised]="true" (click)="editar()" />
                } @else{
                <p-button label="Cadastrar" [fluid]="true" [raised]="true" (click)="cadastrar()" />
                }
                <p-button label="Limpar" [raised]="true" severity="warn" (click)="limpar()" />
                <p-button label="Voltar" [fluid]="true" [raised]="true" severity="secondary" (click)="voltar()" />
            </div>
        </form>
    </fieldset>
</main>
